/*----------------------------------------------------------------------------------------------------*/
/*-------------------------------------general css for the whole page---------------------------------*/
/*----------------------------------------------------------------------------------------------------*/


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: #555;
    font-family: 'lato','arial','sans-serif';
    font-weight: 300px;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}


/*----------------------------------------------------------------------------------------------------*/
/*-------------------------------------general class which can be reused------------------------------*/
/*----------------------------------------------------------------------------------------------------*/


.row{
    max-width: 1140px;
    margin:0 auto;

}

.long-text{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-size: 90%;
    line-height: 145%;
}
.box {
    margin-left:18px;
}


.box p{
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 145%;
}

/*----------------------------------------------------------------------------------------------------*/
/*-------------------------------------navigation bar-------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/


.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 10px;
}

.main-nav{
    float: right;
    margin-top: 60px;
}

.main-nav li{
    list-style: none;
     display: inline-block;
}

.main-nav li a:link,.main-nav li a:visited{
    padding: 7px 0px;
    text-decoration: none;
    margin-left: 40px;
    color: #fff;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 350;
    border-bottom: 1px solid transprent;
    transition: border 0.5s;
}

.main-nav li a:hover,.main-nav li a:active{
    border-bottom: 1px solid #f27b30;


}

/*----------------------------------------------------------------------------------------------------*/
/*-------------------------------------buttons--------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/



.btn:link,
.btn:visited,
input[type="submit"]
{
    display: inline;
    font-weight: 300;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 200px;
    color: #FFF;
    border:1px solid #f27b30;
    transition: background-color 0.5s, border 0.2s, color 0.2s;

}

.btn-full:link,
.btn-full:visited,
input[type="submit"]{
    background-color: #f27b30;
    color: #FFF;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited{

    color: #f27b30;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active{
    background-color:#c46428;
}

.btn-ghost:hover,
.btn-ghost:active{
    background-color: #c46428;
    color: #fff;
}

/*----------------------------------------------------------------------------------------------------*/
/*-------------------------------------headers as hero test-------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/


header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(imgs/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}


.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*----------------------------------------------------------------------------------------------------*/
/*-------------------------------------headers--------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/

h1,
h2,
h3{

    font-weight: 300;
    text-transform: uppercase;
    word-spacing: 4px;
    line-height: 145%;
}

h1{
    letter-spacing: 1px;
    margin: 0px;
    color: #FFF;
    font-size: 250%;
    margin-bottom: 30px;
}

h2{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 180%;
}

h2:after{
    display: block;
    content: "";
    height: 2px;
    background-color: #f27b30;
    margin: 30px auto;
    width: 20%;
}

h3{
    font-weight: 350;
}

/*----------------------------------------------------------------------------------------------------*/
/*-------------------------------------icons----------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/



.icon{
    color: #f27b30;
    font-size: 400%;
    display: block;
    margin-bottom: 10px;
    
    --ionicon-stroke-width: 25 px;
}

.icon2{
   color: #f27b30;
    font-size: 150%;
    display:inline-block;
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;
    --ionicon-stroke-width: 25 px;
}

.icon3{
    padding-right: 3px; 
    vertical-align: middle;
}
.meals-list {
    list-style: none;
    width: 100%;
}

.meals-list li{
    display: block;
    width: 25%;
    float: left;
    overflow: hidden;
    background-color: #000;

}
.meal-photo{
    width: 100%;
    margin: 0px;
    padding: 0px;

}

.meal-photo img{
    width: 100%;
    height: auto;
    transform: scale(1.5);
    opacity: 0.7;
    transition: transform 0.7s ,opacity 0.7s;
}

.meal-photo img:hover{
    transform: scale(1.03);
    opacity: 1;
}

.meals-section {
    padding-top: 50px;
}


.how {
    text-align: center;
}



.iPhone{
    width: 40%;
}

.steps-box{
  margin-top: 30px;
}

.steps-box:first-child{
  text-align: right;
  padding-right: 3%;
}
.steps-box:last-child{
  padding-left: 3%;
  float: left;
}

.steps-box:last-of-type{
    margin-bottom: 80px;
}

.work-steps{
  margin-top:50px;
}
.work-steps div{
  color: #f27b30;
  border-radius: 50%;
  border: 2px solid;
  height: 50px;
  width: 50px;
  float: left;
  display: inline-block;
  text-align: center;
  padding: 5px;
  font-size: 150%;
  margin-right: 20px;
}

.clearfix{zoom:1}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.btn-app img{
    height: 50px;
    margin-top: 50px;
}

.city-features{


}

.city{
    padding-left:18px;
    margin: 0px;
}
.city img{
    width: 100%;
    height: auto;
    padding: 0px;
    display: inline-block;

}

.t{
    width: 100%;
    
}

.a:link,
.a:visited{
   text-decoration: none;
    color: #f27b30;
    transition: color 0.7s,border 0.5;
    border-bottom: 2px solid #f27b30;
}

.a:hover,
.a:active{
    border-bottom: 0px;
    color: #000;
}
.testimonials{
    background-image:linear-gradient(rgba(0, 0, 0, 0.67),rgba(0, 0, 0, 0.67)),url(/resourses/imgs/back-customers.jpg);
    background-attachment: fixed;
    color: #fff;

}

blockquote:before{
    content:"\201C";
    font-size: 400%;
    position: absolute;
    top: -45px;
    left: -25px;
    display: block;
        
}

blockquote{
    font-family:lato;
    font-weight: 350;
    position: relative;
}

blockquote:after{
    content:"\201D";
    font-size: 400%;
    vertical-align: bottom;
    display: block;
    text-align: right;
}

cite{
    margin-top: 20px;
    display: block;
}
cite img{
    width:50px;
    border-radius: 50%;
    vertical-align: middle;
}


.plan-box div:first-child{
    background-color: #d1d1d1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child{
    padding: 20px 0px;
    text-align: center;
}

.plan-box div{
    border-bottom: 2px solid #e2e2e2;
    padding: 10px;
}

.plan-box div ul{
    list-style: none;
}

.plan-box div ul li{
    padding-top: 10px;
}
.plan-box div p span{
    font-size: 45%;
    font-weight: 500;
}

.plan-box{

    border-radius:5px;
    background-color: #fff;
    width: 85%;
}

.plans{
    background-color: #e2e2e2;
}

.plan-price{
    font-size: 250%;
    color: #f27b30;
    padding-bottom: 5px;
    font-weight: 300
}

.contact-form{
    width:70%;
    margin: 0px auto;
}

input[type="text"],
input[type="email"],
select,
textarea{
    width:100%;
    padding: 7px;
    margin: 5px
}

input[type="checkbox"]{
    padding:5px;
    margin: 5px;
    
}

*:focus{outline:none;}

.cities{
    margin-bottom: 80px;
}

.msg{
    margin-bottom: 80px;
}

.footer-nav li,
.social-link li{
    display:inline-block;
    margin: 8px;

}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-link li a:link,
.social-link li a:visited{
color: #fff;
text-decoration: none;
transition:color 0.7s ,border 0.7;
border-bottom: 2px solid #fff;

}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-link li a:hover,
.social-link li a:active{
color: rgb(172, 172, 172);
border-bottom: 0px;


}

.footer-nav{
    list-style: none;
    float: left;

}

.social-link{
    list-style: none;
    float:right;
}

footer{
    background-color:#333;
}

.copy{
    text-align: center;
    margin: 30px 0px 50px 0px;
    font-size: 30px;
}